/* vamos a crear las cajas y formatearlas- pending */
/* vamos aplicarles flex segun el comportamiento */

body {
    background-color: #80D0C7;
    background-image: linear-gradient(0deg, #80D0C7 0%, #ffffff 90%);
    font-family: 'Roboto', sans-serif;
}

.main-container {
    width: 90%;
    min-width: 600px;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
}

nav {
    justify-content: space-evenly;
    padding-left: 50px;
    padding-right: 50px;
}

.second-container {
    display: flex;
    flex-wrap: wrap;
}

.box1 {
    width: 60%;
    min-width: 600px;
    text-align: center;
}

.box2 {
    align-items: center;
    color: rgb(82, 191, 228);
    display: flex;
    font-size: 1.5rem;
    height: 300px;
    min-width: 300px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    width: 40%;
}

.box3 {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 300px;
    min-width: 300px;
    width: 40%;
}

.box4 {
    width: 60%;
    min-width: 600px;
    background-color: lightskyblue;
    height: 300px;
}

.section-container {
    width: 100%;
    min-width: 480px;
    background-color: lightblue;
    height: 200px;
}

.footer-container {
    width: 100%;
    min-width: 480px;
    background-color: lightsteelblue;
    height: 200px;
}

@media screen and (max-width: 1127px) {
    .box1 {
        width: 100%;
    }

    .box4 {
        width: 100%;
    }

    .box2 {
        width: 50%;
    }

    .box3 {
        width: 50%;
    }
}