/* vamos a crear las cajas y formatearlas- pending */
/* vamos aplicarles flex segun el comportamiento */

body {
    background-color: #80D0C7;
    background-image: linear-gradient(0deg, #80D0C7 0%, #ffffff 10%);
    font-family: 'Roboto', sans-serif;
}

.main-container {
    width: 90%;
    min-width: 600px;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
}

nav {
    justify-content: space-evenly;
}

.second-container {
    display: flex;
    flex-wrap: wrap;
}

.box1 img {
    border-radius: 30px;
    border-bottom-right-radius: 100px;
    box-shadow: 10px 10px 5px rgb(216, 216, 216);
}

.box4 img {
    border-radius: 30px;
    border-bottom-right-radius: 100px;
    box-shadow: 10px 10px 5px rgb(216, 216, 216);
}

.box1 {
    width: 60%;
    min-width: 600px;
    text-align: center;
    padding-bottom: 30px;
}

.box2 {
    align-items: center;
    color: rgb(82, 191, 228);
    display: flex;
    font-size: 1.5rem;
    min-width: 300px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    text-align: center;
    width: 40%;
    min-height: 300px;
}

.box3 {
    align-items: center;
    display: flex;
    justify-content: center;
    min-width: 300px;
    width: 40%;
    min-height: 300px;
    padding-bottom: 30px;
}

.box4 {
    width: 60%;
    min-width: 600px;
    padding-bottom: 30px;
}

.section-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.tablas {
    min-height: 200px;
    margin: 10px;
    width: 450px;
}

table {
    text-align: center;
}

.fuente-personalizada {
    color: white;
}

.footer-container {
    width: 100%;
    min-width: 480px;
    min-height: 200px;
    padding-top: 40px;
}

.subfooter-uno {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    font-size: 1.5rem;
}

.subfooter-dos {
    display: flex;
    font-size: 1rem;
    justify-content: space-evenly;
    padding-top: 30px;
    padding-bottom: 30px;
}

ul {
    list-style: none;
}

@media screen and (max-width: 1127px) {
    .box1 {
        width: 100%;
    }

    .box4 {
        width: 100%;
    }

    .box2 {
        width: 50%;
    }

    .box3 {
        width: 50%;
    }
}

.carousel-item {
    position: relative;
    display: none;
    float: left;
    width: 100%;
    margin-right: -100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: transform .6s ease-in-out;
}